* {
  margin: 0;
  padding: 0;
}
body 
{
  background:black;
}
.menu-container 
{
  display: flex;
  justify-content: center;
  background: black;
  height: 180px;
  align-items: center;

}
.Img-inicio
{
  padding-top: 3px;
  padding-left: 30px;
  height: 170px;
  size: auto;
  display: flex;
}
.menu-list 
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
  }
}

.main-header
{
  padding-top: 10px;
  padding-bottom: 88px;
  height: 250px;
  width: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  background:black;

}
.sub-main-header
{
  padding-top: 17px;
  padding-bottom: 15px;
  height: 140px;
  background: white;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
}

.wrap {
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background: black;
  align-items: center;

  .container-1 
  {
    width: 100%;;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .container-1-img 
    {
      img {
        padding-left: 50px;
        padding-right: 60px;
        display: block;
        height: 900px;
        &:hover
        {
          padding-top: 30px;
          padding-bottom: 30px;
          transform: rotate(2deg) scale(1.05);
        }
      }
    }
    .container-1-img2 {
      img {
        padding-left: 60px;
        padding-right: 50px;
        display: block;
        height: 900px;
        &:hover
        {
          padding-top: 30px;
          padding-bottom: 30px;
          transform:rotate(-2deg) scale(1.05);
         // transform: rotate(-2deg) scale(1.05);
        }
      }
    }
    .container-1-imgP1 
    {
      img {
        padding-right: 20px;
        display: block;
        height: 600px;
        &:hover
        {
          padding-top: 30px;
          padding-bottom: 30px;
          transform: rotate(2deg) scale(1.05);
        }
      }
    }
    .container-1-imgP2
    {
      img {
        padding-left: 40px;
        display: block;
        height: 600px;
        &:hover
        {
          padding-top: 30px;
          padding-bottom: 30px;
          transform: rotate(-2deg) scale(1.05);
        }
      }
    }
  }
}

main {
  display: flex;
  background-color: rgb(255, 255, 255);
  .container-2 {
    display: flex;
    align-items: center;

    .text-container-2 {
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-left: 40px;
      padding-right: 40px;

      p {
        font-size: 30px;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;
      }
    }
    .container-2-img3 {
      img {
        height: 570px;
        display: block;
      }
    }
    .container-2-img4 {
      img {
        height: 570px;
        display: block;
      }
    }
  }
}//Fin main
.wrap2
{
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background: black;
  align-items: center;

  .container-3 
  {
    img
    {
    height: 1500px;
    padding-left: 160px;
    align-content: center;
    }
}
}
.footer-container
{
display: flex;
flex-direction: column;
justify-content: center;
background:white;
height: 80px;

.footer-list
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  p
  {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 30px
  }
}//Final del footer
}

//INFORMACIÓN
.entrada
{
  border: 2px white;
  background:rgb(0, 0, 0);
  height: 500px;
  padding-left: 260px;
  padding-right: 260px;
  padding-top:30px;
  padding-bottom:30px;
  img
  {
    height: 500px;
    size: auto;
    display: flex;
  };
  .text-entrada-container
  {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;

    p {
      font-size: 30px;
      text-align: center;
      color: white;
    }
  }
  }
}